@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to make input field transparent on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
