@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS to make input field transparent on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

/* Customize Antd Dragger Start */
.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D9D9D9' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e") !important;
}

.ant-upload-drag {
  border: none !important;
  background-color: #ffffff !important;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D9D9D9' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e") !important;
}
/* Customize Antd Dragger End */

/* Customize Antd Table Start */

table th.ant-table-cell::before {
  content: none !important;
}

table th {
  font-weight: bold !important;
  border-top: 1px solid #f0f0f0 !important;
  border-left: 1px solid #f0f0f0 !important;
}

table th:last-child {
  border-right: 1px solid #f0f0f0 !important;
}

table td {
  border-left: 1px solid #f0f0f0 !important;
}

table td:last-child {
  border-right: 1px solid #f0f0f0 !important;
}

table tr:last-of-type td:first-child {
  border-bottom-left-radius: 6px !important;
}

table tr:last-of-type td:last-child {
  border-bottom-right-radius: 6px !important;
}

.ant-form-item-control-input {
  min-height: 0px !important;
}

/* Customize Antd Table End */
.ant-card .ant-card-body{
  padding: 0px;
}